[submodule "riscv-tests"]
	path = riscv-tests
	url = https://github.com/riscv/riscv-tests
[submodule "rve/lib/imgui"]
	path = rve/lib/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "rve/lib/implot"]
	path = rve/lib/implot
	url = https://github.com/epezent/implot.git

